<!DOCTYPE html>
<html lang="en">
<head>
  <title>Newsapp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NEWSAPP</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="english_login">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Language <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="english_login">English</a></li>
          <li class="active"><a href="malayalam_login">Malayalam</a></li>
          <li><a href="#">Hindi</a></li>
        </ul>
      </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Category <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="malayalam_india_login">India</a></li>
          <li class="active"><a href="malayalam_login">Trending</a></li>
          <li><a href="#">Technology</a></li>
          <li><a href="#">Sports</a></li>
          <li><a href="#">Movies</a></li>
        </ul>
      </li>
<!--      <li><a href="malayalam_india_login">India</a></li>-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="account"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="logout"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">

  <div class="row">

   {% for object in object_list %}
   {% if object.language == '2'  %}
   {% if object.category == '1'  %}
      {% if object.date == date_today  %}
<!--    <a href="{{object.url}}"><h5>{{object.title}}</h5></a>-->

    <table>
   <tr>
     <td>

    <img  src = "{{ object.image }}" >
      </td>
<td>
    <h3 style="color:black;"><b>{{object.title}}</b></h3>
      <p>{{object.content}}</p>
    <a style="width=50%px" href="{{object.url}}">read more</a>
</td>
    </tr></table>
<!--    <a style="width=50%px" href="{{object.url}}">read more</a>-->
      <hr>


   {% endif %}
   {% endif %}
   {% endif %}


<!--  <div  style="width:50%; float:right">-->
<!--    <h5>{{object.title}}</h5>-->
<!--</div>-->







  {% endfor %}


<!--    <div class="col-6">-->
<!-- {% for object in object_list %}-->

<!--  <img class="card-img-top" src = "{{ object.image }}">-->


<!--&lt;!&ndash;      <a href="{{object.url}}"><h5>{{object.title}}</h5></a>&ndash;&gt;-->


<!--  {% endfor %}-->
<!--    </div>-->
  </div>
</div>

</body>
</html>
